@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 20px 0;
}

.hero-text {
  flex-basis: 50%;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  font-size: 1.2rem;
}

.hero-image {
  flex-basis: 50%;
}

.hero-image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 16px;
}

.card-container {
  margin-top: 64px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

.card {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

@media (max-width: 1028px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1{
    font-size: 2.8rem;
  }

 .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 728px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    width: 100%;
    height: 20rem;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

}


.spinner {
  width: 50px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#09864a) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation:s4 1s infinite steps(10);
}
@keyframes s4 {to{transform: rotate(1turn)}}
